# build output
dist
.next

# logs & vagrant & rej
.vagrant
*.log
*.rej

# IdeaIDE
.idea

# used by the Makefile
/build/_workspace/
/build/bin/

# VS Code
.vscode

# dependencies
node_modules
test/node_modules
truffle/v4/node_modules
truffle/v5/node_modules
package-lock.json
yarn.lock
!/yarn.lock